*.exe
*.o
bitcoin
bitcoind
Makefile
Makefile.in
autom4te.cache*
.deps
.build*
configure
config.h*
config.status
aclocal.m4
autoscan.log
config.log
depcomp
install-sh
missing
.dirstamp
stamp-h1
deps
build
html
latex
